//Colors
$gold:#FFCF7A;
$back:#E5E5E5;
$white:#FFFFFF;
$btn:#ECCF94;
$foot:#121212;
$other:#B8542A;
$check:#CEB787;
$nav:#949494;
$main:rgb(18, 18, 18, .953);
$min:#6D6D6D;


//Font Props

$weightLg:400;
$weightMd:300;
$weightSm:250;

$sizeEx:64px;
$sizeLg:40px;
$sizeMd:20px;
$sizeSm:14px;

$lineLg:55px;
$lineMd:36px;
$lineSm:27px;

$logo:'Crimson Text', serif;;